#home{
    background-color: #222f3e;
    height: 400px;
    width: 400px;
    position: absolute;
}
#home h2{
    color: white;
    font:30px courier;
    text-align: center;
    padding: 8px;
}
#home img{
    height: 180px;
    width:180px;
    margin-left: 110px;
    margin-bottom: 40px;
}
#start{
    font: 22px courier;
    color: white;
    background-color: #222f3e;
    width: 250px;
    margin-left: 75px;
}
.hide{
    opacity: 0%;
    visibility: hidden;
 }
 #gameover{
     background-color: #576574;
     width: 300px;
     height: 100px;
     position: absolute;
     margin-top: 150px;
     margin-left: 50px;
 }
#gameover p1{
    font:16px courier;
    color: white;
    margin-left:115px ;
    margin-top:5px;
    position: absolute;
    
}
#gameover p2{
    color: white;
    font:13px courier;
    margin-left: 13px;
    position: absolute;
    margin-top:-20px;
    
}
#restart{
    background-color: #222f3e;
    position: relative;
    color: white;
    height: 35px;
    width:230px;
    margin-left: -100px;
}
